<div class="informational-container conviction-container">
    <img src="{{ asset('build/images/conviction.webp') }}" alt="flower" />
    <div class="informational-text">
        <h2 class="text-3xl mb-5">NOTRE CONVICTION</h2>
        <p class="text-lg">Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et
            ses
            habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité,
            durabilité et éthique</p>
    </div>
</div>