
<div class="header-container">
    <img src="{{ asset('build/images/logo.webp') }}" alt="logo" />
    <nav class="navigation-container">
        <p>Nos Produits</p>
        <p>Mon panier</p>
        <p>Mon compte</p>
        <p>Déconnexion</p>
    </nav>
</div>
