
<div class="header-container">
    <img src="{{ asset('build/images/logo.webp') }}" alt="logo" />
    <nav class="navigation-container">
        <a href="/">Nos Produits</a>
        <a href='/user/1/basket'>Mon panier</a>
        <a href='/user/1/account'>Mon compte</a>
        <a>Déconnexion</a>
    </nav>
</div>
