
<div class="flex flex-col-reverse  lg:flex-row">
    <div class="banner-text-container">
        <h1>Bienvenue</h1>
        <h2>
            Découvrez notre univers de produits durables et éthiques pour une consommation responsable
        </h2>
        <h2>
            Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter
        </h2>
    </div>
    <img class="w-full lg:w-3/6" src="{{ asset('build/images/hero-img.webp') }}" alt="logo" />
</div>
