{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col justify-center items-center h-screen">


        <h1 class="text-5xl font-bold mb-20 text-emerald-800">Page non trouvée</h1>
        <p>La page que vous recherchez n'existe pas. Vérifiez l'URL ou <a class="text-blue-800" href="{{ path('app_home') }}">retournez à la
                page d'accueil</a>.</p>
    </div>
{% endblock %}